.h5p-interactive-book-navigation {
  background-color: $background-color;
  background-size: cover;
  box-shadow: .625em .625em 1.875em $dark-grey-20;
  min-height: 19em;
  max-width: 0;
  transition: flex-basis .15s linear, max-width .15s linear;
  z-index: 1;

  >a {
    font-weight: bold;
  }

  >div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .navigation-list {
    margin: 1rem 0 0 0;
    padding: 0 var(--h5p-theme-spacing-s);
    position: relative;
    opacity: 0;
    transition: opacity .05s linear;
  }
}

.h5p-interactive-book-navigation-sectionlist {
  background-color: $background-color;
  background-size: cover;
  margin: 0;
  padding: 0;
  transition: max-height .5s ease-in;

  >:first-child {
    padding-top: .5em;
  }

  >:last-child {
    border-bottom: solid 1px $ghost-white;
    padding-bottom: .5em;
  }

  .h5p-interactive-book-navigation-section {
    position: relative;
    background: transparent;
    color: var(--h5p-theme-text-secondary);
    font-size: .875em;
    font-weight: 400;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;

    .section-button {
      position: relative;
      background: transparent;
      border: 0;
      padding: 0 1.3em;
      max-width: 100%;
      font-family: var(--h5p-theme-font-name);
      display: flex;
      align-items: center;
      margin-bottom: var(--h5p-theme-spacing-xs);
    }

    .h5p-interactive-book-navigation-section-icon {
      color: var(--h5p-theme-text-primary);
      font-size: 5px;
      visibility: hidden;
      font-size: var(--h5p-theme-font-size-xxs);
      background-color: var(--h5p-theme-ui-base);
      border-radius: 50%;
      z-index: 10;

      &.h5p-interactive-book-navigation-section-task {
        visibility: inherit;
      }
    }

    .h5p-interactive-book-navigation-section-title {
      font-size: var(--h5p-theme-font-size-s);
      margin-left: 2rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--h5p-theme-text-third);
    }
  }

  :hover {
    color: var(--color-base, $base-color);
    cursor: pointer;
  }
}

.h5p-interactive-book-navigation-sectionlist > :last-child {
  border-bottom: none;
}

.h5p-theme-show-results.h5p-interactive-book-navigation-chapter-button {
  width: 100%;
  margin: var(--h5p-theme-spacing-s) 0;
  justify-content: center;
}

.h5p-interactive-book-navigation-chapter-button {
  border-radius: var(--h5p-theme-border-radius-medium);
}

.h5p-interactive-book-navigation-chapter-progress:before,
.h5p-interactive-book-navigation-chapter-button:not(.h5p-theme-show-results).h5p-interactive-book-navigation-current .h5p-interactive-book-navigation-chapter-progress:before {
  font-size: var(--h5p-theme-font-size-l);
  background-color: var(--h5p-theme-ui-base);
  border-radius: 4em;
}

.h5p-interactive-book-navigation-closed {
  .h5p-interactive-book-navigation-chapter-button:not(.h5p-theme-show-results) {
    background-color: var(--h5p-theme-ui-base);

    .h5p-interactive-book-navigation-chapter-title-text {
      color: var(--h5p-theme-text-secondary);
    }
  }

  .h5p-interactive-book-navigation-sectionlist {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    visibility: hidden;
  }
}

.h5p-interactive-book-navigation-chapter {
  list-style: none;
}

.h5p-interactive-book-navigation-chapter-button:not(.h5p-theme-show-results) {
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  background-size: cover;
  border: 0;
  color: var(--h5p-theme-text-primary);
  display: flex;
  font-family: var(--h5p-theme-font-name);
  height: 3.438em;
  margin: 0;
  padding: 0 1.165em;
  text-align: initial;
  text-decoration: none solid var(--h5p-theme-text-secondary);
  width: 100%;
  position: relative;

  &.h5p-interactive-book-navigation-current {
    background-color: var(--h5p-theme-contrast-cta-light);
    border-bottom-color: white;
    z-index: 1;

    .h5p-interactive-book-navigation-chapter-accordion {
      display: block;
    }
  }

  &:hover {
    background-color: var(--color-base-5, $base-color-5);
    cursor: pointer;

    .h5p-interactive-book-navigation-chapter-accordion {
      display: block;
    }
  }

  .h5p-interactive-book-navigation-chapter-title-text {
    width: 100%;
    background-color: transparent;
    color: var(--h5p-theme-contrast-cta-white);
    font-family: var(--h5p-theme-font-name);
    font-size: var(--h5p-theme-font-size-s);
    font-weight: 700;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    text-decoration: none solid var(--color-base, $base-color);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-interactive-book-navigation-chapter-accordion {
    display: none;
    font-size: var(--h5p-theme-font-size-xxs);

    &.hidden {
      opacity: 0;
      visibility: none;
    }
  }

  &:active {
    background-color: var(--color-base-10, $base-color-10);
  }
}

// This ensure the lines behind the circles stays centered between big and small circles
.h5p-content.h5p-large .h5p-interactive-book-navigation-chapter-button:not(.h5p-theme-show-results) {
  padding-left: 1.125em;
}

// Lines connecting the dots
.h5p-interactive-book-small .h5p-interactive-book-navigation-chapter:not(.h5p-interactive-book-navigation-summary-button):not(.h5p-interactive-book-navigation-no-sections) .h5p-interactive-book-navigation-chapter-button:after,
.h5p-interactive-book-navigation-current[aria-expanded="true"]:not(:has(.h5p-interactive-book-navigation-chapter-accordion.hidden)):after,
.h5p-interactive-book-navigation-section:after {
  content: '';
  position: absolute;
  left: 23px;
  bottom: 0;

  top: 0;
  z-index: 0;

  height: 100%;
  width: 2px;
  background-color: color-mix(in srgb, var(--h5p-theme-main-cta-base), transparent 80%);
}

.h5p-interactive-book-navigation-summary-button .h5p-interactive-book-navigation-current:after {
  display: none;
}

.h5p-interactive-book-small .h5p-interactive-book-navigation-chapter:not(.h5p-interactive-book-navigation-summary-button):not(.h5p-interactive-book-navigation-no-sections) > .h5p-interactive-book-navigation-chapter-button,
.h5p-interactive-book-navigation-current[aria-expanded="true"]:not(:has(.h5p-interactive-book-navigation-chapter-accordion.hidden)) {
  &:after {
    height: 50%;
    top: unset;
    display: none;
  }

  &:has(.h5p-interactive-book-navigation-chapter-progress)::after {
    display: block;
  }
}

.h5p-interactive-book-navigation-section:last-child:after {
  height: 50%;
}
