
$background-color: var(--h5p-theme-ui-base);
$base-color: #1768C4;
$base-color-5: rgba($base-color, .05);
$base-color-10: rgba($base-color, .1);
$base-color-20: rgba($base-color, .2);
$base-color-50: rgba($base-color, .5);
$base-color-90: rgba($base-color, .9);
$base-color-95: rgba($base-color, .95);
$black: #000;
$black-20: rgba(0, 0, 0, .2);
$cool-grey: #eee;
$dark-grey-20: rgba(166, 166, 166, .2);
$ghost-white: #e9e4ed;
$light-grey: #bebebe;
$medium-grey: #363636;
$scrollbar: #6C7992;
$scrollbar-30: rgba($scrollbar, .35);
$scrollbar-75: rgba($scrollbar, .75);
$mud: #4c4452;
$mud-80: rgba($mud, .8);

$fullscreen-button-size: 1.8em;

.h5p-interactive-book-content {
  margin: var(--h5p-theme-spacing-s) !important;
}

.h5p-interactive-book {
  &.h5p-interactive-book-small {
    .h5p-interactive-book-main {
      &.h5p-interactive-book-navigation-open {
        .h5p-interactive-book-navigation {
          max-width: 100%;
          width: 100%;

          .large-navigation-list {
            height: auto;
          }
        }

        .h5p-interactive-book-navigation-chapter-accordion {
          opacity: 0;
          visibility: hidden;
        }

        .h5p-interactive-book-navigation-sectionlist {
          max-height: none;
          overflow: inherit;
          transition: max-height .5s ease-in;
          visibility: inherit;
        }

        .h5p-interactive-book-content {
          display: none;
        }
      }
    }
  }

  .h5p-interactive-book-navigation-hidden .h5p-interactive-book-navigation {
    display: none;
  }

  &.h5p-scrollable-fullscreen.h5p-semi-fullscreen {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  .h5p-scrollable-fullscreen {
    overflow-y: auto;
  }

  &.h5p-fullscreen {
    background-color: $background-color;
  }

  .h5p-content-controls {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: $scrollbar-30;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-75;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar;
  }
  
  .h5p-theme-nav-button:focus-visible,
  .h5p-interactive-book-navigation-chapter-button:focus-visible,
  .h5p-interactive-book-navigation .section-button:focus-visible {
    outline: 2px ridge var(--h5p-theme-contrast-cta-white);
    border-radius: 4px;
    outline-offset: 2px;
  }

  .h5p-interactive-book-navigation .section-button:focus-visible {
    outline-offset: -2px;
  }
}

.h5p-interactive-book-main {
  display: flex;
  background-color: var(--h5p-theme-background);

  &.h5p-interactive-book-navigation-open .h5p-interactive-book-navigation {
    max-width: calc(var(--h5p-theme-spacing-xl)*5.5);

    .navigation-list {
      opacity: 1;
    }
  }
}

.h5p-content-hidden.h5p-interactive-book-cover-present,
.h5p-content-hidden .h5p-interactive-book-cover-present {
  display: none;
}

.h5p-fullscreen,
.h5p-semi-fullscreen {
  .h5p-interactive-book {
    overflow-y: auto !important;

    &.edge-18 .h5p-interactive-book-status {
      padding-right: 9em;
    }
  }
}

@import 'pagecontent';
@import 'statusbar';
@import 'navigationbar';
@import 'cover';
@import "summary";
